// Base Values

// Neutrals colors
$black: #000000;
$gray-50: #222222;
$gray-100: #666666;
$gray-200: #999999;
$white: #ffffff;

// Primary
$primary: #0066f1;
$primary-bg: #f5f8fb;

// Green
$green: #00c792;

// Red
$red: #e12626;
